<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Register</title>-->
<!--</head>-->
<!--<body>-->

<!--<form action="#" th:action="@{/register}" th:object="${user}" method="post">-->
<!--    <table>-->
<!--        <tr>-->
<!--            <td><label for="username">First Name</label></td>-->
<!--            <td><input th:field="*{username}" type="text" id="username" name="username"/></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label for="email">Email</label></td>-->
<!--            <td><input th:field="*{email}" id="email" type="text" name="emailId"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label for="password">Password</label></td>-->
<!--            <td><input th:field="*{password}" id="password" type="password" name="password"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label for="address">Email</label></td>-->
<!--            <td><input th:field="*{address}" id="address" type="text" name="address"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label for="phone">Password</label></td>-->
<!--            <td><input th:field="*{phone}" id="phone" type="text" name="phone"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><label for="authority">Password</label></td>-->
<!--            <td><input th:field="*{authority}" id="authority" type="text" name="authority"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--            <td><input type="reset" value="Clear"/></td>-->
<!--            <td><input type="submit" value="Submit"></td>-->
<!--        </tr>-->
<!--    </table>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
